@using TheBlogProject.Services
@using TheBlogProject.Models
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common 

@inject IImageService imageService
@model  IPagedList<Post>

@{
    ViewData["Title"] = "Blog Posts";
}

<h1>Index</h1>

<p>
    <a class="text-light text-decoration-none" asp-action="Create">Create New</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Title
            </th>
            <th>
                Abstract
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr class="text-light">
                <td>
                    <img class="img-thumbnail w-25 h-25" src="@imageService.DecodeImage(item.ImageData, item.ContentType)" alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abstract)
                </td>
                <td class="col-5">
                    <a class="text-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="text-light" asp-action="Details" asp-route-slug="@item.Slug">Details</a> |
                    <a class="text-light" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<div class="row">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>

<div class="row">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("BlogPostIndex", new { id = Model.FirstOrDefault().BlogId, page = page }),
        new PagedListRenderOptions
        {
            LiElementClasses = new string[] {"page-item"},
            PageClasses = new string [] {"page-link"}
        })
    </div>
</div>